<%- include header %>
<div class="tags">
    <p class="tags-title">友情链接</p>
    <h3><a href="http://www.shenkaiwa.cn">包子的博客</a></h3>
    <p>EasyCss是包子的个人bolg，用于描写一些前端技术性的文章，分享一些前端的资源，讨论最新的bootstrap框架，以及一些html5和css3技术。QQ:79836300.</p>
</div>

<%- include footer %>