<%- include header %>
<div class="post-article">
    <div class="reg">
        发表微博
    </div>
    <form method="post">
        标题：<input type="text" name="title" class="span6"/><br />
        标签:
        <input type="text" name="tag1" class="span2"/>
        <input type="text" name="tag2" class="span2"/>
        <input type="text" name="tag3" class="span2"/><br />
        <p>微博内容;</p>
        <textarea name="post" rows="20" class="text-con"></textarea><br />
        <input type="submit" value="发表" class="btn"/>
    </form>
</div>

<%- include footer %>